.course-schedule {
  display: flex;
  flex-direction: column;

  .icon-course-schedule {
    color: #4299E1;
    background-color: #E9EBF3;
    border-radius: .25rem;
    padding: .25rem;
  }

  .content {
    flex: 0 1 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .conclusion {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1.2rem;

      .info {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .field {
          display: flex;
          flex-direction: column;
          gap: .25rem;

          .label {
            color: var(--nx-color-text-secondary);
            font-size: .8rem;
          }

          .value {
            font-size: 2rem;
            color: var(--nx-color-dark);
            font-family: var(--nx-font-rubik);
          }
        }
      }

      .operations {
        gap: .4rem;

        .button {
          --border-radius: .75rem;
          --button-padding: .5rem;
          --padding-top: var(--button-padding);
          --padding-bottom: var(--button-padding);
          --padding-start: var(--button-padding);
          --padding-end: var(--button-padding);

          --background: #6A8FFF1A;
          --color: var(--nx-color-dark);

          &.primary {
            --background: var(--nx-color-dark);
            --color: white;
          }
        }
      }
    }
  }
}