.weather-container1{
    height: 63px;
    border-top: 10px solid;
    border-bottom: 15px solid;
    border-color: #F8F8F8;
    background-color: #F8F8F8;
    margin-left: 25px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 450;
    .weather{
        display: flex;
        font-size: 25px;
        gap: 12px;
        align-items: center;
    }
    #weather-tip{
        font-size: 14px;
    }
}


