# Explicit local files
*.env
local.*
/*.local

# file that appears when running `ionic cap run android -l`
# It gets deleted when the process is killed.
AndroidManifest.xml.orig

# dependencies
node_modules/

# build files
dist/

# keystore files
*.jks

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?