# dependencies
node_modules/

# build output
.tsbuildinfo
dist/
ship/

# native folders
android
ios

# npm will format these files
package.json
package-lock.json

*.md
*.bat
*.sh

.*
!.github/
!.vscode/