{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "printWidth": 80,
  "jsxSingleQuote": true
}