# dependencies
node_modules

# build output
dist
.tsbuildinfo

# native folders
android
ios

# npm will format these files
package.json
package-lock.json

*.md
*.bat
*.sh

.*
!.github/
!.vscode/