{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "crlf",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "printWidth": 80
}
