.todo-head {
  --todo-icon-background: #ffe0e0;
  --todo-all-color: #6bb9c1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2%;
  margin-bottom: 2%;
  padding-left: 0.625rem;
  img {
    background-color: var(--todo-icon-background);
    border-radius: 0.5rem;
    padding: 0.1875rem;
  }
  .todo-head-head {
    height: 1.375rem;
    flex-basis: 58vw;
    font-size: 1.25rem;
    font-weight: 700;
  }
  .todo-head-all {
    height: 1.0625rem;
    color: var(--todo-all-color);
    font-weight: 500;
    flex-basis: 19.656vw;
    font-size: 1rem;
  }
}
