* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 .header-content {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: 4em;
  margin-bottom: 2em;
  &.schedule-title {
     font-family: 'Inter', sans-serif;
     font-size: 1.3em;
     font-weight: bold;
  }
  
}


