.todowrapper {
  --todo-footer-color: grey;
  background-color: var(--element-background-color);
  width: 94.660194vw;
  margin-left: 2.67vw;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  border-radius: 0.9375rem;
  padding-bottom: 0.3125rem;
  .todolist-more {
    display: flex;
    flex-direction: column;
    height: 13.125rem;
    width: 96.5%;
    overflow-y: scroll;
    align-items: center;
    justify-content: space-around;
    gap: 0.625rem;
    overflow-x: hidden;
    #footer {
      color: var(--todo-footer-color);
      font-size: 1rem;
    }
  }
  .todolist-less {
    display: flex;
    flex-direction: column;
    height: 13.125rem;
    width: 96.5%;
    position: relative;
    left: 1.75%;
    overflow-y: scroll;
    align-items: center;
    justify-content: flex-start;
    gap: 0.625rem;
    overflow-x: hidden;
  }
}
