.todo {
  background-color: var(--todo-icon-background);
}
.todowrapper {
  --todo-footer-color: grey;
  border-radius: 0.9375rem;
  .todolist-more {
    display: flex;
    flex-direction: column;
    height: 13rem;
    width: 96.5%;
    position: relative;
    left: 1.75%;
    overflow-y: scroll;
    align-items: center;
    justify-content: space-around;
    gap: 0.625rem;
    overflow-x: hidden;
    #footer {
      color: var(--todo-footer-color);
      font-size: 1rem;
    }
  }
  .todolist-less {
    display: flex;
    flex-direction: column;
    height: 13.125rem;
    width: 96.5%;
    position: relative;
    left: 1.75%;
    overflow-y: scroll;
    align-items: center;
    justify-content: flex-start;
    gap: 0.625rem;
    overflow-x: hidden;
  }
}
