/*创建点击待办的动画*/
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(0.92);
  }
}

/* 定义删除动画关键帧 */
@keyframes slideRight {
  0% {
    /* 动画开始时，左外边距为 0 */
    margin-right: 0;
    opacity: 1;
  }
  100% {
    /* 动画结束时，左外边距为元素宽度，这里假设元素宽度足够，可按需调整 */
    margin-right: 100%;
    opacity: 0;
  }
}

.todoItemWrap {
  --todoitem-background: white;
  --todoitem-font-color: black;
  --todoitem-shadow-color: #c0c0c0;
  --todoitem-note-color: rgb(91, 119, 86);
  --todoitem-button-color: #6bb9c1;
  --todoitem-button-background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: min(21.875rem, 84.951456vw);
  min-height: 3.75rem;
  border-radius: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 0.9375rem;
  box-shadow: 0.1875rem 0.1875rem 0.3125rem 0 var(--todoitem-shadow-color);
  background-color: var(--todoitem-background);
  color: var(--todoitem-font-color);
  .todoItemElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      font-size: min(1.125rem, 4.368932vw);
      font-weight: 400;
    }
    div {
      color: var(--todoitem-note-color);
      font-weight: 400;
      font-size: min(0.8125rem, 3.15534vw);
    }
  }
  .todoItemOther {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.9375rem;
    div {
      font-size: min(0.9375rem, 3.64078vw);
      font-weight: 400;
      color: var(--todoitem-button-color);
    }
    button {
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 50%;
      padding: 0;
      border: 0.125rem solid var(--todoitem-button-color);
      background-color: var(--todoitem-button-background);
    }
  }
}

.deleting {
  /* 应用 slideRight 动画，持续时间 3 秒，动画结束后保持最后状态，使用 ease-out 时间函数 */
  animation: slideRight 1s ease-out;
  /* 防止删除过程中元素仍可交互 */
  pointer-events: none;
}
.deleting-button {
  background-color: red;
  color: white;
}
