.header {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 1rem;

  .date {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
