*{
  padding:0;
  margin:0;
}

.schedule-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.credit-info {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.credit-label {
  font-size: 0.9em;
  color: var(--ion-color-medium);
}

.credit-value {
  font-size: 2.5em;
  font-weight: bolder;
  color:#586FC2;
}

.action-buttons {
  display: flex;
  gap: 0.2rem;
  outline: none;
}

.action-buttons ion-button {
  --color: var(--ion-color-medium);
} 

.action-buttons ion-img {
  width: 4em;
  height: 4em;
}


.custom-toast {
  --background: rgba(255, 255, 255, 0.95);
  --border-radius: 15px;
  --box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  --color: #333;
  --min-height: 48px;
  --min-width: 100px;
  text-align: center;
  padding: 10px;
}

.custom-toast img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}


