*{
  padding:0;
  margin:0;
}

.schedule-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.credit-info {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.credit-label {
  font-size: 0.9em;
  color: var(--ion-color-medium);
}

.credit-value {
  font-size: 2.5em;
  font-weight: bolder;
  color:#586FC2;
}

.action-buttons {
  display: flex;
  gap: 0.2rem;
  outline: none;
}

.action-buttons ion-button {
  --color: var(--ion-color-medium);
} 

.action-buttons ion-img {
  width: 4em;
  height: 4em;
}
