.container {
  display: flex;
  flex-direction: column;
  gap: 0.1875rem;
  margin: 0.625rem 0.6875rem;
  border-radius: 0.9375rem;
  padding-bottom: 0.875rem;
  background-color: var(--element-background-color);
  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.55rem 0 0.55rem 0.625rem;
    .front-head {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: 0.5rem;
      margin-left: 0.5rem;
      .icon {
        border-radius: 0.5rem;
        padding: 0.1875rem;
      }
      .title {
        height: 1.375rem;
        flex-basis: 58vw;
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
    .all {
      margin-right: 0.5rem;
      height: 1.0625rem;
      font-weight: 500;
      font-size: 1rem;
      color: var(--schedule-all-color);
    }
  }
}
