.index-container {
  --ion-background-color: var(--nx-color-background);

  --card-background: white;
  --padding-top: 1rem;
  --padding-bottom: var(--padding-top);
  --padding-start: 1.2rem;
  --padding-end: var(--padding-start);

  --todo-footer-color: grey;

  --todoitem-background: white;
  --todoitem-font-color: black;
  --todoitem-shadow-color: #c0c0c0;
  --todoitem-note-color: rgb(91, 119, 86);
  --todoitem-time-color: #6bb9c1;
  --todo-icon-background: #ffe0e0;

  .cards {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}
