.index-container {
  --ion-background-color: #f8f8f8;
  --ion-font-family: 'OPPO Sans';
  --card-background: white;
  --padding-top: 1rem;
  --padding-bottom: var(--padding-top);
  --padding-start: 1.2rem;
  --padding-end: var(--padding-start);

  --today-icon-background: #e7f4f5;
  --today-link-color: #6bb9c1;
  --today-emoji-color: #808080;
  --today-none-color: #fdab76;
  --today-list-none-color: grey;

  --todo-icon-background: #ffe0e0;
  --link-icon-background: #fff2ea;

  .cards {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}
