.icon-dayview {
  width: 32px;
  height: 40px;
  .icon-dayview-line {
    background-color: black;
    width: 24px;
    height: 6px;
    left: 4px;
    position: absolute;
    border-radius: 1px;
    &.first {
      top: 7.5px;
    }
    &.second {
      top: 16.5px;
    }
    &.third {
      top: 25.5px;
    }
  }
}

.icon-weekview {
  width: 32px;
  height: 40px;
  .icon-weekview-line {
    background-color: black;
    width: 6px;
    height: 25px;
    top: 7px;
    position: absolute;
    border-radius: 1px;
    &.first {
      left: 4px;
    }
    &.second {
      left: 13px;
    }
    &.third {
      left: 22px;
    }
  }
}

.icon-todayview {
  width: 40px;
  height: 40px;
  padding: 6px;
  .icon-todayinner {
    background-color: black;
    width: 28px;
    height: 28px;
    border-radius: 50%;

    color: white;
    font-weight: 700;
    font-size: 16px;
    align-content: center;
  }
}
