.fab-buttun-daily {
  width: 45px;
  height: 45px;
  --background: #f2f2f2;
}

.schedule-modal-daily {
  --height: auto;
  --background: #f2f2f2;
  --border-radius: 10px;

  ion-header {
    ion-toolbar {
      --background: #f;
      text-align: center;
      .bar {
        display: flex;
        justify-content: space-between;
        .title {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          justify-content: center;
          font-size: 1rem;
          div {
            padding: 10px;
          }
        }

        ion-buttons {
          margin-right: 10px;
          .editor {
            width: 50px;
            font-size: 1rem;
            color: #128f9d;
            opacity: 0.5;
          }
          .close {
            color: #000;
          }
        }
      }
    }
  }

  .content {
    ion-label {
      width: 50px;
    }

    ion-list.md,
    ion-list.ios {
      background: #f2f2f2;
      &.solid {
        border: solid 1px #000;
      }
      ion-item.custom-input-item {
        --color: #333;
        --background: #f2f2f2;
        ion-input {
          --background: #f2f2f2;
        }
      }
    }

    ion-label.right {
      text-align: right;
    }
    ion-label.left {
      --color: #128f9d;
      text-align: left;
    }
    ion-select.flip {
      --backdrop-opacity: 0;
      .label-text {
        color: #000;
      }
      ion-select-option {
        color: #765347;
        background-color: #ff62f2;
      }
    }

    ion-select.flip::part(icon) {
      transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    }

    ion-select.flip.select-expanded::part(icon) {
      transform: rotate(180deg);
    }
  }
}

