.schedule-page {
  height: 100%;
  display: flex;
  flex-direction: column;

}
.schedule-content {
  flex: 1;
  overflow-y: auto;
}
.header-content {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: 4vw;
  margin-bottom: 2vh;
}
.kbleft-img {
  width: 10vw;
  height: 10vw;
  margin-left: 2vw;
  margin-right: 3vw;
  margin-top: 2vh;
}
.schedule-title {
  font-family: 'Inter', sans-serif;
  font-size: 5vw;
  font-weight: bold;
  margin-left: 0;
  margin-bottom: 1vh;
}
 



