.grades-page {
  display: flex;
  flex-direction: column;
  background: white;
}

.grades-content {
  --background: white;
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 64px;
}

.grades-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grades-footer {
  --background: rgb(255, 255, 255);
  height: 48px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-top: 1px solid var(--ion-color-light-shade);
}

ion-toolbar {
  --background: white;
  --border-style: none;
}
.header-content {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.jdleft-img {
  width: 4rem;
  height: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1.5rem;
}
.grades-title {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0;
  margin-bottom: 0.5rem;
}
