.schedule-events {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal-event-detail {
  --border-radius: 1rem;

  .event-detail {
    padding: 0 1rem;
    --vertical-space: 0.75rem;
    overflow: auto;

    &>.header {
      display: flex;
      justify-content: space-between;
      padding: var(--vertical-space) 0;

      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: bold;
        gap: 0.5rem;
        font-size: 1.2rem;

        .icon {
          width: 2rem;
          height: 2rem;
          border-radius: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #92dbd836;
        }
      }
    }

    .content {
      max-height: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--vertical-space);

      .title {
        font-size: 1.75rem;
      }

      .fields {
        border-radius: 0.5rem;
        background: #fff;
        margin: 0;
        padding: 0;

        .field {
          --background: #fff;

          .label {
            color: #128f9d;
            font-weight: bold;
            font-size: 1.125rem;
          }

          &:last-child::part(native) {
            border-bottom: none;
          }
        }
      }
    }
  }
}