.FeatureCard {
  display: flex;
  justify-content: space-between; /* 左右两侧对齐 */
  align-items: center; /* 垂直居中 */
  /* width: 100%; 占满父容器宽度 */
  /* padding: 16px; */
}

.small-card {
  /* width: 100%; 卡片占满容器宽度 */
  max-width: 300px; /* 设置最大宽度 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-content {
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center;
  padding: 8px; /* 为整个内容添加内边距 */
}

.left-component,
.right-component {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

.icon-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px; /* 图片与左边的距离 */
}

.icon-container img {
  /* width: 100%;
  height: 100%; */
  object-fit: contain; /* 保持图片比例 */
}

.text-container {
  display: flex;
  flex-direction: column; /* 垂直排列标题和内容 */
  justify-content: center; /* 从顶部开始排列 */
  text-align: left; /* 文字左对齐 */
  margin: 0 8px; /* 添加左右间距 */
  .text-title {
    font-size: 17px;
  }
}
