.calendar-container{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 450;
    background-color: #F8F8F8;
    margin-top: 30px;
    margin-left: 25px;
    .calendar-item1{
        height: 30px;
    }
    .calendar-item2{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
}



