.schedule-page {
  margin-bottom: 1rem;

  &>.container {
    border-radius: 0 0 0.75rem 0.75rem;
    padding: 0 1.25rem;
    background-color: #fff;
    letter-spacing: -0.01875px;
    justify-content: center;

    .title {
      padding: 1rem 0;
      background-color: #fff;
      justify-content: space-between;

      ion-toolbar {
        --background: #fff;

        ion-title {
          text-align: left;
          padding: 0;

          font-family: 'OPPP Sans';
          font-weight: 500;
          font-size: 1.125rem;
          line-height: 1.375rem;
        }

        ion-buttons {
          gap: 0.5rem;

          ion-button {
            margin: 0;
            --padding-top: 0;
            --padding-bottom: 0;
            --padding-start: 0;
            --padding-end: 0;
          }
        }
      }
    }

    .calendar {
      padding-bottom: 0.3125rem;

      .content {
        display: flex;
        position: relative;
        line-height: 1.125rem;
        background-color: #fff;

        .swiper {
          .week {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;

            .col {
              font-size: 0.875rem;
              font-weight: 400;
              text-align: center;
              color: #128f9d;

              i {
                font-style: normal;
                font-family: 'OPPP Sans';

                opacity: 0.3;
              }

              .items {
                display: flex;
                flex-direction: column;
                align-items: center;
              }
            }
          }
        }

        .calendar-left {
          margin-right: 1rem;
          padding: 0 0.125rem;
          display: flex;
          gap: 1rem;

          .left-line {
            height: 100%;
            border: #128f9d1a 2px solid;
          }
        }
      }

      .bottom {
        display: flex;
        justify-content: center;
        opacity: 0.1;

        .bottom-line {
          width: 2.5rem;
          height: 0.25rem;
          background-color: #128f9d;
          border-radius: 0.125rem;
        }
      }
    }
  }
}