.event-item-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
  box-shadow: 0.1rem 0.1rem 0 #cacaca;
  background-color: #fff6f2;
  border-radius: 0.5rem;
  color: #ee9e87;

  .event-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 3.4375rem;

    .event-item-head {
      font-size: 0.8125rem;
      font-weight: 700;
      margin-left: 0.9375rem;
      padding-top: 0.125rem;
    }

    .event-item-body {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      height: 1.875rem;
      padding-bottom: 0.1875rem;

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.125rem;
        margin-left: 0.625rem;
        font-size: 0.5625rem;
        font-weight: 500;
      }
    }
  }

  .event-item-right {
    padding-right: 0.3125rem;
    color: var(--min-font-color);
  }
}