html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  width: -webkit-fill-available;
  height: 100%;
  height: -webkit-fill-available;
  //TODO 解决iOS safe area & 满屏问题
}

body {
  $bg-color: #fafbfc;
  $bg-color-dark: #232425;

  background-color: $bg-color;
  @media (prefers-color-scheme: dark) {
    background-color: $bg-color-dark;
  }
}

#root,
.app {
  padding: 0;
  margin: 0;
  width: 100%;
  width: -webkit-fill-available;
  height: 100%;
  height: -webkit-fill-available;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  & > .main {
    overflow: hidden auto;
  }
}

a {
  outline: unset;
}
