/*
 * TODO: 显示的字体不对
 */

.dayitem {
  margin: 0.5rem 0;
  font-family: 'Rubik Mono One';
  gap: 3px;
  width: 2rem;

  .day {
    margin: 0 0 0.5rem 0;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &.today {
      background-color: #128f9d4d;
    }

    &.selected {
      color: white;
      background-color: #128f9d;
    }
  }

  .event {
    display: flex;
    justify-content: center;

    .dot {
      width: 0.3125rem;
      height: 0.3125rem;
      border-radius: 50%;
      background-color: #6a8fff40;
    }
  }
}