.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-top: 50px;
}

.version-text {
  font-size: 15px;
  color: #6c757d;
  font-family: 'Inter', sans-serif;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.welcome-title {
  font-size: 20px;
  font-weight: 800;
  color: #333;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  margin: 32px 0;
}

.terms-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  margin: 24px 16px;
  --border-radius: 24px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  margin: 0 auto;
  margin-top: 20px;
}

.terms-checkbox {
  --min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  max-width: 400px;
  padding-left: 38px;
}

.terms-checkbox .terms-link {
  color: var(--ion-color-primary);
  text-decoration: none;
  font-weight: 600;
}

.terms-checkbox ion-checkbox {
  --size: 20px;
  margin-right: 8px;
}

.ion-input {
  font-size: 17px;
  text-indent: 14px;
  color: #333;
  font-family: 'Poppins', sans-serif;
  padding: 12px 16px;
  padding-left: 24px;
  background: #fff;
  border-radius: 24px;
  border: 1px solid #dcdcdc;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  margin-top: 32px;
}

.ion-label {
  font-size: 18px;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 32px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
}

.close-button {
  display: flex;
  justify-content: flex-end;
}